extends layout

block content
  article.index.container
    h1 Solo Queue
    h2 Lose better.
    .row
        .col-xs-4.col-xs-offset-4
            .panel.panel-default
                .panel-heading
                    h3.panel-title Search Player Ranking
                .panel-body
                    h3 Blank
                .panel-footer
                    h3 Empty