extends layout

block content
  article.index.container
    .row
        .col-xs-8.col-xs-offset-2
            .panel.panel-default
                .panel-body
                    form(role='search')
                        .form-group
                            .col-xs-10
                                input.form-control(placeholder='Summoner Name')
                            .col-xs-2-push
                                a.btn.btn-main(href='#') Submit