extends layout

block content
  article.index.container
    .row
        .col-xs-4.col-xs-offset-4
            .panel.panel-default.push-down
                .panel-body
                    form(role='search')
                        .form-group
                            label Summoner Name
                            input.form-control