extends layout

block content
    h1.text-center.brand-title Solo Queue
    h2.text-center.brand-tag Lose better.
    article.index.container
        .row
            .col-xs-8.col-xs-offset-2
                .panel.panel-default
                    .panel-body
                        form(role='search')
                            .form-group
                                .col-xs-4.col-xs-offset-3
                                    input.form-control(placeholder='Summoner Name')
                                .col-xs-2
                                    a.btn.btn-main.center(href='#') Submit